@model IEnumerable<SGC_PORTFOLIO.Models.BlogEntry>

@{
    ViewData["Title"] = "Blogs";
}

<div class="blog-content">
    <h1>Blog Entries</h1>

    @if (Model != null && Model.Any())
    {
        <ul class="list-group">
            @foreach (var blogEntry in Model)
            {
                <li class="list-group-item mb-3 blog-entry">
                    <h2 class="card-title">
                        <a href="@Url.Action("Details", "Blog", new { title = blogEntry.Title })">@blogEntry.Title</a>
                    </h2>
                    <p class="card-text">@blogEntry.Summary</p>
                    <p class="card-text"><small class="text-muted">@blogEntry.CreatedAt.ToString("MMMM dd, yyyy")</small></p>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No blog entries available.</p>
    }
</div>
