@{
    ViewData["Title"] = "Sai Gopal Challa • Portfolio";
}

<body>
    <div id="top"></div>
    <div class="section" id="introduction">
        <div id="bg-div"></div>
        <div id="intro-content">
            <div id="intro-left" class="animate-scroll intro-half">
                @* <div id="slideshow-container">
                    <div class="slideshow-image" id="slide-1"> <img src="images/headshot-bw.jpeg" alt="Image 1" /> </div>
                    <div class="slideshow-image" id="slide-2"> <img src="images/headshot-bw-123.jfif" alt="Image 2" /> </div>
                    <div class="slideshow-image" id="slide-3"> <img src="images/headshot-color.jpeg" alt="Image 3" /> </div>
                    <!-- Add more images as needed -->
                    <div class="slideshow-image" id="slide-20"> <img src="images/headshot-color-123.jfif" alt="Image 20" /> </div>
                </div> *@
                <div id="headshot-content">
                    <div id="headshots">
                        <picture>
                            <source srcset="images/headshot-bw.jpeg" type="image/jpeg">
                            <img id="headshot-bw" class="headshot" src="/images/headshot-bw.jpeg" alt="black and white headshot of gopal challa" width="1000" />
                        </picture>
                        <picture>
                            <source srcset="images/headshot-color.jpeg" type="image/jpeg">
                            <img id="headshot-color" class="headshot crop" src="/images/headshot-color.jpeg" alt="color headshot of gopal challa" width="1000" />
                        </picture>
                    </div>
                </div> 
                <div id="social-buttons">
                    <a id="in-btn" class="btn btn-primary social" target="_blank" href="https://www.linkedin.com/in/saigopal-challa/"><img class="social-img" src="/images/in-icon.png" alt="linkedin icon" width="64"/></a>
                    @*<a id="h-btn"class="btn btn-primary social" target="_blank" href="https://app.joinhandshake.com/"><img class="social-img" src="/images/h-icon.png" alt="handshake icon"width="64"/></a>*@
                    <a id="git-btn" class="btn btn-primary social" target="_blank" href="https://github.com/SaiGopal-Challa"><img class="social-img" src="images/git-icon.png" alt="github icon" width="64"/></a>
                </div>
            </div>
            <div id="intro-right" class="animate-scroll intro-half">
                <div id="title-text">
                    <h1 id="intro-title"><b>Hello,</b><br />I'm Gopal Challa</h1>
                    <p id="intro-tagline">A motivated Associate Software Engineere.</p>
                </div>
                <div id="intro-buttons">
                    <a id="resume-btn" class="btn btn-primary intro" target="_blank" href="https://drive.google.com/drive/folders/1VuaBAhpS-ef0I8UegrVAu8rCYg6nRCsk?usp=sharing">RESUME</a>
                    <a id="meeting-btn" class="btn btn-primary intro" target="_blank" href="https://calendar.app.google/Dgy1nnP8Dkp5YsDn7">SCHEDULE A MEETING</a>
                </div>
            </div>
        </div>
        <a class="btn-arrow" href=#about-anchor id="about-me-button">About Me<br />∨</a>
    </div>
    <div id="about-anchor"></div>
    <article class="section" id="about-me">
        <div id="about-content">
            <h1 class="animate-scroll" id="about-header"><strong>About Me</strong></h1>
            <p class="animate-scroll" id="about-me-paragraph">
                A results-driven Associate Software Engineer with 2 years of combined experience in designing and developing robust software solutions. 
                Proficient in building scalable microservices using .NET, with expertise in Java from previous roles and personal projects.
                I am an analytical problem solver and skilled engineer.<br /><br />
                Interested in full-stack development and artificial intelligence and motivated by tangible innovation. 
                In addition to my strong technical skills in DotNet, Java, and
                <a id="more-skills" href="#proj-skill">more</a>, my education & experience has allowed me to
                develop my leadership, teamwork, communication, and people management skills.<br /><br />
                With this background, I am confident in my ability to serve as a valuable team player in a software engineering role, 
                and I plan to leverage my combination of people and technical skills in the future as I grow.
            </p>
        </div>
        <a class="btn-arrow" href=#edu-exp id="credentials-button">My Credentials<br />∨</a>
        <img id="top-left-line" src="/images/top-left-line.png" alt="top corner art yellow" />
        <img id="bottom-right-line" src="/images/bottom-right-line.png" alt="bottom corner art yellow"/>
    </article>
    <section class="section" id="edu-exp">
        <div id="edu-exp-title">
            <h2>Education & Experiences</h2>
            <button id="edu-exp-expand" class="btn-arrow expand" data-bs-toggle="collapse" data-bs-target="#edu-exp-info">Expand<br />∨</button>
        </div>
    </section>
    <div id="collapse-container">
        <div class="collapse" id="edu-exp-info">
            <div id="edu-exp-box">
                <div id="edu-exp-content">
                    <h3>Education</h3>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/bits-icon.png" type="image/png">
                            <img class="edu-exp-img" src="images/bits-icon.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                            <h5 class="date">Class of 2023</h5>
                            <h4 class="header">BITS Pilani K.K Birla Goa Campus</h4>
                            <h6 class="subheader">B.E(Hons) in Computer Science</h6>
                            <p class="details">Relevant Coursework:</p>
                            <ul class="details">
                                <li>Analysis of Algorithms</li>
                                <li>Data Structures and Functional Programming</li>
                                <li>Discrete Structures</li>
                                <li>Data Structures and Object Oriented Programming</li>
                            </ul>
                        </div>
                    </div>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/srichaitanya-logo.jpg" type="image/jpg">
                            <img class="edu-exp-img" src="images/srichaitanya-logo.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                            <h5 class="date">Class of 2018</h5>
                            <h4 class="header">Sri Chaitanya Narayana Jr College</h4>
                            <h6 class="subheader">PCM Stream</h6>
                        </div>
                    </div>
                    <h3>Work Experience</h3>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/icicilombard-logo.png" type="image/png">
                            <img class="edu-exp-img" src="images/icicilombard-logo.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                            <h5 class="date">June 2023 - Present</h5>
                            <h4 class="header">Associate Software Engineere</h4>
                            <h6 class="subheader">ICICI LOMBARD GIC, Mumbai</h6>
                            <p class="details">
                                <ul class="details">
                                    <li>
                                        Created and deployed scalable MicroService to handle deviation in policy creation,
                                        built using DotNet Core and deployed on AWS ECS, handling complex data manupilation.
                                    </li>
                                    <li>
                                        Revamped NYSA dashboards by creating views and optimizing DB which increased datafetch speed by almost 30%. 
                                        (Signature product to create Motor Insurance Policies.)
                                    </li>
                                    <li>
                                        Implemented purging policies on various tables on different databases, inturn decreasing a 20% load on databases.
                                    </li>
                                    <li>
                                        Performed various techinical improvement activites such as Caching, Indexing, Code optimizations.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/glance-icon.png" type="image/png">
                            <img class="edu-exp-img" src="images/glance-icon.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                            <h5 class="date">June 2022 - December 2022</h5>
                            <h4 class="header">Software Development Intern</h4>
                            <h6 class="subheader">Glance Inmobi Group, Bangalore</h6>
                            <p class="details">
                                <ul class="details">
                                    <li>
                                        Developed fully automated Android application testing tool in collaboration with team. 
                                    </li>
                                    <li>
                                        Developed strong problem-solving skills by troubleshooting complex technical issues throughout the development process. 
                                    </li>
                                    <li>
                                         Continuously expanded technical knowledge by attending industry conferences, workshops, and training sessions related to software development trends and technologies. 
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/starmarksoftware-icon.webp" type="image/webp">
                            <img class="edu-exp-img" src="images/starmarksoftware-icon.webp" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                            <h5 class="date">May 2020 - July 2020</h5>
                            <h4 class="header">ML Intern</h4>
                            <h6 class="subheader">Starmark Software, Bangalore</h6>
                            <p class="details">
                                <ul class="details">
                                    <li>
                                        Built an ML model for analyzing logs and detecting issues, in collaboration with fellow interns. 
                                    </li>
                                    <li>
                                        Participated in regular code reviews to maintain high-quality standards across the entire development team's work output. 
                                    </li>
                                    <li>
                                         Enhanced data quality by identifying and addressing inconsistencies, missing values, and outliers in datasets. 
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <h3>Extracurriculars</h3>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <img class="edu-exp-img" src="images/myngo-logo.png" height="256" width="256" loading="lazy">
                        <div info>
                            <h5 class="date"> June 2023 - Present</h5>
                            <h4 class="header">LifeAndKnowledge NGO</h4>
                            <h6 class="subheader">NGO to enhance lives of people belonging to various sectors of society</h6>
                            <p class="details">
                                <ul class="details">
                                    <li>
                                        We provide basic computer operation classes and tailoring classes to women from various sectors, mostly concentrating on homeworkers.
                                    </li>
                                    <li>
                                        We also provide regular free online newsletters to help people understand the importance of education and how it can change their lives.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <img id="top-right-line" src="/images/top-right-line.png" loading="lazy"/>
                <img id="bottom-left-line" src="/images/bottom-left-line.png" loading="lazy"/>
            </div>
        </div>
    </div>
    <section class="section" id="proj-skill">
    <div id="proj-skill-title">
        <h2>Projects & Skills</h2>
        <button id="skill-expand-button" class="btn-arrow expand" data-bs-toggle="collapse" data-bs-target="#proj-skill-info">Expand<br />∨</button>
    </div>
    </section>
    <div id="proj-skill-container">
        <div class="collapse" id="proj-skill-info">
            <div class="outside-container">
                <div id="projects">
                    <div class="project animate-scroll" id="sgcportfolio">
                        <div class="text" onclick="showPopup(this)">
                            <h5 class="text date">October 2024</h5>
                            <h4 class="text header">saigopalchalla.com</h4>
                            <h6 class="text subheader">HTML | CSS | JavaScript | C# | ASP.NET | Bootstrap | MVC | Photoshop</h6>
                            <p class="limited-text">
                                Created a personal portfolio website using the ASP.NET Core MVC framework with a focus on responsive web design and performance. Features include dark mode toggling, a responsive background and headshot based on mouse position, scroll animations, and hover highlighting.
                            </p>
                            <p class="more-text" style="display: none;">
                                This project showcases my skills in web development, including creating user-friendly interfaces and implementing responsive designs. The website includes multiple sections such as about me, projects, and contact information. It also features smooth scrolling and various animations to enhance user experience.
                            </p>
                        </div>
                        <button class="more-btn" onclick="showPopup(this)">Show More</button>
                        <div id="button-div">
                            <a class="git-btn" target="_blank" href="https://github.com/SaiGopal-Challa/SGC_PORTFOLIO">View on GitHub</a>
                        </div>
                    </div>
                    
                    <div class="project animate-scroll" id="signin&upMS">
                        <div class="text" onclick="showPopup(this)">
                            <h5 class="text date">October 2024</h5>
                            <h4 class="text header">SignIn & SignUp Microservice</h4>
                            <h6 class="text subheader">DotNet | JSON | Oracle SQL | C# | Redis | Bootstrap | JavaScript</h6>
                            <p class="limited-text">
                                A scalable microservice built to provide login and register functionalities, with both API as service & UI as service.
                            </p>
                            <p class="more-text" style="display: none;">
                                This service incorporates auto client onboarding, with automatic container creation and database setup. It is designed for high availability and performance, ensuring a smooth user experience during authentication.
                            </p>
                        </div>
                        <button class="more-btn" onclick="showPopup(this)">Show More</button>
                        <div id="button-div">
                            <a class="git-btn" target="_blank" href="https://github.com/SaiGopal-Challa/AuthServiceSGC">View on GitHub</a>
                            <a class="git-btn" target="_blank" href="https://saigopalchalla.com/AuthServicesGC">Visit the Website</a>
                        </div>
                    </div>

                    <div class="project animate-scroll" id="BlogEngineSGC">
                        <div class="text" onclick="showPopup(this)">
                            <h5 class="text date">October 2024</h5>
                            <h4 class="text header">Blog Engine SGC</h4>
                            <h6 class="text subheader">HTML | CSS | JavaScript | C# | ASP.NET | Bootstrap | MVC | Photoshop</h6>
                            <p class="limited-text">
                                Created and deployed a blogging engine built using the ASP.NET Core MVC framework with a focus on web design and performance. 
                            </p>
                            <p class="more-text" style="display: none;">
                                This project showcases my skills in web development, including creating user-friendly interfaces and implementing responsive designs. The website includes adding blogs, managing them, commenting and subscribing etc.
                            </p>
                        </div>
                        <button class="more-btn" onclick="showPopup(this)">Show More</button>
                        <div id="button-div">
                            <a class="git-btn" target="_blank" href="https://github.com/SaiGopal-Challa/BlogEngineSGC ">View on GitHub</a>
                            <a class="git-btn" target="_blank" href="https://saigopalchalla.com/BlogEngineSGC">Visit the Website</a>
                        </div>
                    </div>

                    <div class="project animate-scroll" id="AndroidApplications">
                        <div class="text" onclick="showPopup(this)">
                            <h5 class="text date">March 2023 - Present</h5>
                            <h4 class="text header">AndroidApplications</h4>
                            <h6 class="text subheader">Android | HTML | CSS | TypeScript | Java | Bootstrap | MVVM | Photoshop</h6>
                            <p class="limited-text">
                                Developed and published various android applications. Camera&Gallery app, Calender app with To-Do and Reminder functionalities, 2048 Game app.
                            </p>
                            <p class="more-text" style="display: none;">
                                Built Camera&Gallery app, Calender app with To-Do and Reminder functionalities and 2048 Game applications using Android Studio to hone my skills. These have been published on google playstore. 
                                Built using Android SDK, Java and following Model View View Model architecture.
                                Links for these applications are on a seperate page on this website, please click below to navigate.
                            </p>
                        </div>
                        <button class="more-btn" onclick="showPopup(this)">Show More</button>
                        <div id="button-div">
                            <a class="git-btn" target="_blank" href="https://saigopalchalla.com/AndroidApplications">View the links</a>
                        </div>
                    </div>

                    @* <div class="project animate-scroll" id="AutomatedAlgoTradingApp">
                        <div class="text" onclick="showPopup(this)">
                            <h5 class="text date">November 2024 - Present</h5>
                            <h4 class="text header">Automated Algorithmic Trading Application</h4>
                            <h6 class="text subheader">DotNet | JSON | Oracle SQL | C# | Redis | Bootstrap | JavaScript</h6>
                            <p class="limited-text">
                                An application built using Python and integrated with a wrapper built around PaytmAPI to perform automated trading.
                            </p>
                            <p class="more-text" style="display: none;">
                                <l>
                                    An application built using Python and integrated with a wrapper built around PaytmAPI to perform automated trading.
                                </l>
                                <l>
                                    At the core of the application lies a logic layer, which fetches and analyzes time-sensitive details from the internet for predefined companies and generates executable trade ideas using algorithms and machine learning models.
                                </l>
                                
                            </p>
                        </div>
                        <button class="more-btn" onclick="showPopup(this)">Show More</button>
                        <div id="button-div">
                            <a class="git-btn" target="_blank" href="https://github.com/SaiGopal-Challa/AutomatedAlgoTradingAgent">View on GitHub</a>
                            <a class="git-btn" target="_blank" href="https://saigopalchalla.com/AutomatedAlgoTradingAgent">Visit the Website</a>
                        </div>
                    </div> *@
                        
                </div>
            </div>
            <div class="outside-container" id="skill-container">
                <h3 class="proj-title">Technical Skills</h3>
                <div id="skills">

                    <div class="skill-container">
                        <img class="skill-icon" id="dotnet" src="images/net-icon.png" />
                        <span class="skill-name">.NET</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="70"></div>
                                </div>
                                <span class="proficiency-percent">70%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-container">
                        <img class="skill-icon" id="csharp" src="images/csharp-icon.png" />
                        <span class="skill-name">C#</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="70"></div>
                                </div>
                                <span class="proficiency-percent">70%</span>
                            </div>
                        </div>
                    </div>

            
                    <div class="skill-container">
                        <img class="skill-icon" id="java" src="images/java-icon.png" />
                        <span class="skill-name">Java</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="60"></div>
                                </div>
                                <span class="proficiency-percent">60%</span>
                            </div>
                        </div>
                    </div>
            
                    <div class="skill-container">
                        <img class="skill-icon" id="redis" src="images/redis-icon.png" />
                        <span class="skill-name">Redis</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="65"></div>
                                </div>
                                <span class="proficiency-percent">65%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-container">
                        <img class="skill-icon" id="oraclesql" src="images/oraclesql-icon.png" />
                        <span class="skill-name">Oracle SQL</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="70"></div>
                                </div>
                                <span class="proficiency-percent">70%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-container">
                        <img class="skill-icon" id="android" src="images/android-icon.png" />
                        <span class="skill-name">Android</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="50"></div>
                                </div>
                                <span class="proficiency-percent">50%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-container">
                        <img class="skill-icon" id="aws" src="images/aws-icon.png" />
                        <span class="skill-name">AWS</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="40"></div>
                                </div>
                                <span class="proficiency-percent">40%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-container">
                        <img class="skill-icon" id="json" src="images/json-icon.png" />
                        <span class="skill-name">JSON</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="65"></div>
                                </div>
                                <span class="proficiency-percent">65%</span>
                            </div>
                        </div>
                    </div>


                    <div class="skill-container">
                        <img class="skill-icon" id="javascript" src="images/js-icon.png" />
                        <span class="skill-name">JavaScript</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="50"></div>
                                </div>
                                <span class="proficiency-percent">50%</span>
                            </div>
                        </div>
                    </div>
            
                    <div class="skill-container">
                        <img class="skill-icon" id="typescript" src="images/ts-icon.png" />
                        <span class="skill-name">TypeScript</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="40"></div>
                                </div>
                                <span class="proficiency-percent">40%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-container">
                        <img class="skill-icon" id="html5" src="images/html-icon.png" />
                        <span class="skill-name">HTML5</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="50"></div>
                                </div>
                                <span class="proficiency-percent">50%</span>
                            </div>
                        </div>
                    </div>
            
                    <div class="skill-container">
                        <img class="skill-icon" id="css3" src="images/css-icon.png" />
                        <span class="skill-name">CSS3</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="50"></div>
                                </div>
                                <span class="proficiency-percent">50%</span>
                            </div>
                        </div>
                    </div>
            
                    
                    
                    <div class="skill-container">
                        <img class="skill-icon" id="bootstrap" src="images/bootstrap-icon.png" />
                        <span class="skill-name">Bootstrap</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="40"></div>
                                </div>
                                <span class="proficiency-percent">40%</span>
                            </div>
                        </div>
                    </div>
            
                    @* <div class="skill-container">
                        <img class="skill-icon" id="pandas" src="images/pandas-icon.png" />
                        <span class="skill-name">Pandas</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="75"></div>
                                </div>
                                <span class="proficiency-percent">75%</span>
                            </div>
                        </div>
                    </div> *@

                    <div class="skill-container">
                        <img class="skill-icon" id="python" src="images/python-icon.png" />
                        <span class="skill-name">Python</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="40"></div>
                                </div>
                                <span class="proficiency-percent">40%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-container">
                        <img class="skill-icon" id="numpy" src="images/numpy-icon.png" />
                        <span class="skill-name">NumPy</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="40"></div>
                                </div>
                                <span class="proficiency-percent">40%</span>
                            </div>
                        </div>
                    </div>
            
                    <div class="skill-container">
                        <img class="skill-icon" id="photoshop" src="images/photoshop-icon.png" />
                        <span class="skill-name">Photoshop</span>
                        <div class="proficiency-hover">
                            <span class="proficiency-text">Proficiency</span>
                            <div class="proficiency-wrapper">
                                <div class="proficiency-bar-bg">
                                    <div class="proficiency-bar" data-percentage="60"></div>
                                </div>
                                <span class="proficiency-percent">60%</span>
                            </div>
                        </div>
                    </div>
            
                    
                </div>
            </div>
        </div>
    </div>
</body>